*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    min-height:908px ;
    background-image: url('./backround-img/banner3.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.header,h1,p{
    text-align: right;
    padding-right: 100px;
    color: aliceblue;
}